name: Build and Test

on:
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-version:
          - 4.08.1
          - 4.11.1
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Cache Opam
        uses: actions/cache@v2
        with:
          path: |
            ~/_opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-version }}-${{ hashFiles('*.opam') }}
          restore-keys: |
             opam-${{ matrix.os }}-${{ matrix.ocaml-version }}-
      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}
      - run: opam pin add libmacaroons.dev . --no-action
      - run: opam pin add bakery-macaroons.dev . --no-action
      - run: opam depext libmacaroons bakery-macaroons --with-doc --with-test
      - run: opam install . --deps-only --with-doc --with-test
      - run: opam exec -- dune build
      - run: opam exec -- dune runtest
